<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CarList</title>
</head>
<body>
<center>

    <table border="1" bordercolor="#808080" cellspacing="0" cellpadding="5">
        <tr>
            <th>manufacturer</th>
            <th>model</th>
            <th>engine</th>
        </tr>
        <tr th:each="car : ${cars}">
            <td th:text="${car.getManufacturer()}">manufacturer</td>
            <td th:text="${car.getModel()}">model</td>
            <td th:text="${car.getEngine()}">engine</td>
        <tr>

        </tr>
    </table>

</center>
</body>
</html>